<div class="header">
  <button class="btn btn-floating btn-large waves-effect waves-light"
          (click)="go(-1)">
    <app-icon>arrow_back_ios</app-icon>
  </button>
  <span>{{calendarService.date | async | moment:'MMMM YYYY'}}</span>
  <button class="btn btn-floating btn-large waves-effect waves-light"
          (click)="go()">
    <app-icon>arrow_forward_ios</app-icon>
  </button>
</div>

<div class="calendar">
  <div class="weeks">
    <div *ngFor="let day of daysOfWeek">
      <span>{{day}}</span>
    </div>
  </div>
  <div class="days">
    <div class="days-row" *ngFor="let week of calendar">

        <a class="day"
             *ngFor="let day of week.days"
             [routerLink]="'/calendar/' + day.value.format('DD-MM-YYYY')"
             [class.disabled]="day.disabled"
             [class.active]="day.active"
             [class.selected]="day.selected">
          <span>{{day.value | moment:'D'}}</span>
          <p *ngIf="filterTasksByDate(day.value).length">{{filterTasksByDate(day.value).length}} завдань</p>
        </a>
    </div>
  </div>
</div>
