<div [@slideUp] *ngIf="settingsService.open" class="settings" (click)="blockClosingSettings($event)">
  <div class="card horizontal">
    <div class="card-stacked">
      <div class="header">
        <button (click)="settingsService.open = false" class="settings-close btn-small btn-floating transparent">
          <app-icon>close</app-icon>
        </button>
        <h5 class="title">Налаштування</h5>
      </div>
      <div class="card-content">
        <app-background-settings></app-background-settings>
      </div>
    </div>
  </div>
</div>