<div [@slideUp] *ngIf="settingsService.open" class="settings">
  <div class="card horizontal">
    <div class="card-stacked">
      <div class="header">
        <button (click)="settingsService.open = false" class="settings-close btn-small btn-floating transparent">
          <app-icon>close</app-icon>
        </button>
        <h5 class="title">Налаштування</h5>
      </div>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information.</p>
      </div>
    </div>
  </div>
</div>