<app-loader [show]="logoutLoading"></app-loader>
<nav>
  <div class="nav-wrapper accent-3">
    <a routerLink="/" class="brand-logo">WorkPlaningPro</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <ng-template [ngIf]="authService.hasToken()" [ngIfElse]="noAuth">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/calendar">Календар</a></li>
        <li routerLinkActive="active"><a [routerLink]="'/calendar/' + (now | moment:'DD-MM-YYYY')">Сьогодні</a></li>
        <li><a (click)="openSettings($event)" href="#"><app-icon>settings</app-icon></a></li>
        <li><a (click)="logout($event)" href="#"><app-icon>exit_to_app</app-icon></a></li>
      </ng-template>
      <ng-template #noAuth>
        <li routerLinkActive="active"><a routerLink="/login">Вхід</a></li>
        <li routerLinkActive="active"><a routerLink="/register">Реєстрація</a></li>
      </ng-template>
    </ul>
  </div>
</nav>
