<app-loader [show]="userService.loading"></app-loader>
<div *ngIf="!userService.loading" class="app" (click)="closeSettings($event)">
  <div class="app-background"
       *ngIf="settingsService.settings.background"
       [ngStyle]="{
        backgroundImage: 'url('+ settingsService.settings.background +')'
       }"></div>
  <div class="app-main">
    <app-header></app-header>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
    <app-settings></app-settings>
  </div>
</div>
