<div *ngIf="!loading">
  <div class="row">
    <div class="col s8 offset-s2">
      <div class="card">
        <div class="card-content">
          <button class="btn btn-floating waves-effect waves-light project-close"
                  (click)="close()"><app-icon>arrow_back</app-icon></button>
          <div class="dates">
            <span (click)="calendarChooseOpen('project_start')">
              {{project.start_date | toMoment | moment:'DD.MM.YYYY'}}
            </span>
            <span (click)="calendarChooseOpen('project_finish')">
              {{project.deadline_date ? (project.deadline_date | toMoment | moment:'DD.MM.YYYY') : 'Не задано'}}
            </span>
          </div>
          <div class="project-name">
            <div class="row" *ngIf="showEditName; else showProjectName">
              <div class="input-field outline col s12">
                <input id="name" type="text"
                       (blur)="saveName($event.target['value'])"
                       (keyup.enter)="saveName($event.target['value'])"
                       [value]="project.name"
                       #nameInput>
                <label for="name">Назва проекту</label>
              </div>
            </div>
            <ng-template #showProjectName>
              <h4 class="text" (click)="editName()">{{project.name}}</h4>
            </ng-template>
          </div>
          <div class="project-progress">
            <div class="progress">
              <div class="determinate" [ngStyle]="{width: taskService.calculatePercent() + '%'}"></div>
            </div>
            <p class="center-align">{{taskService.calculatePercent()}}%</p>
          </div>
          <div class="desc">
            <div class="row">
              <div class="input-field outline col s12" *ngIf="showEditDesc; else showProjectDesc">
                <textarea id="textarea1"
                          class="materialize-textarea"
                          (blur)="saveDesc($event.target['value'])"
                          #descArea>{{project.description ? project.description : ''}}</textarea>
                <label for="textarea1">Опис проекту</label>
              </div>
              <ng-template #showProjectDesc>
                <div class="col s12">
                  <p class="text"
                     (click)="editDesc()"
                     [class.filled]="project.description"
                     [innerText]="project.description ? project.description : 'Детальний опис' "
                  >
                  </p>
                </div>
              </ng-template>
            </div>
            <div class="divider"></div>
            <div class="tasks">
              <div class="row">
                <div class="col s12">
                  <h5>Завдання</h5>
                  <app-tasks-list></app-tasks-list>
                  <button class="waves-effect waves-light btn"
                          (click)="taskService.addNewTask({project_id: project.id})">Додати завдання</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p class="center loader">
  <app-loader [show]="loading" type="spinner" size="big"></app-loader>
</p>

<div id="calendarModal" class="modal" #calendarModal>
  <div class="modal-content">
    <h4>Вибір дати</h4>
    <div class="row">
      <div class="col s12">
        <app-calendar-chooser (choose)="calendarSelect($event)"></app-calendar-chooser>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="modal-close waves-effect waves-red btn-flat red-text">Відміна</button>
    <button class="waves-effect waves-green btn-flat green-text"
            (click)="calendarChooserApply()"
            [disabled]="!calendar.day || calendar.loading"
    >Вибрати дату</button>
  </div>
</div>
