.collection-item
  display: flex
  justify-content: space-between
  align-items: center

  > span
    button
      margin-left: 5px

  .controls
    opacity: 0
    transition: opacity ease .3s

    &.show
      opacity: 1
label
  color: #000
