<ul class="collection">
  <li class="collection-item">
    <label>
      <input type="checkbox"/>
      <span>Test 1</span>
    </label>
    <span>
      <button class="btn small waves-effect waves-light"><app-icon>calendar_today</app-icon></button>
      <button class="btn small red waves-effect waves-light"><app-icon>delete</app-icon></button>
    </span>
  </li>
  <li class="collection-item">
    <label>
      <input type="checkbox"/>
      <span>Test 1</span>
    </label>
    <span>
      <button class="btn small waves-effect waves-light"><app-icon>calendar_today</app-icon></button>
      <button class="btn small red waves-effect waves-light"><app-icon>delete</app-icon></button>
    </span>
  </li>
  <li class="collection-item">
    <label>
    <input type="checkbox"/>
    <span>Test 1</span>
  </label>
    <span>
      <button class="btn small waves-effect waves-light"><app-icon>calendar_today</app-icon></button>
      <button class="btn small red waves-effect waves-light"><app-icon>delete</app-icon></button>
    </span>
  </li>
</ul>
