\:host::ng-deep .controls-wrapper .material-icons
  font-size: 1.1rem


.collection
  border: none
  overflow: initial

.collection-item
  display: flex
  border: none
  justify-content: space-between
  align-items: center
  padding: 3px
  transition: background-color ease .3s
  &:hover
    background-color: darken(#fff, 3%)
  > span
    display: flex
    align-items: center
    .date
      color: #878787
      font-size: 13px
      text-align: right
      width: 147px
      position: absolute
      top: 50%
      right: 0
      transform: translateY(-50%)
    &.label
      width: 100%
    button
      margin-left: 5px

  .controls-wrapper
    position: relative

    .dropdown-content li
      min-height: 35px
      > a
        font-size: 0.9rem
        padding: 5px 7px
  .controls
    opacity: 0
    transition: opacity ease .3s
    .btns
      display: flex
      .btn
        height: 25px
        line-height: 25px
        padding: 0 10px

        .material-icons
          font-size: 1.1rem
    &.show
      opacity: 1

  [type=checkbox] + span:not(.lever)
    top: 3px
  .input-field
    margin: 0
    position: relative
    top: 0
    width: 100%

    input
      height: 2rem
      margin: 0
label
  color: #000

.dropdown-content
  min-width: 90px !important

.modal
  width: 20%
  top: 23% !important
  .modal-content
    padding-bottom: 0
