<ul class="collection" *ngIf="tasks && tasks.length; else noTasks">
  <li class="collection-item"
      *ngFor="let task of tasks; let idx = index"
      (mouseenter)="task.show_control = true"
      (mouseleave)="task.show_control = false"
  >
    <span class="label">
      <label>
          <span>
          <input type="checkbox"
                 (click)="check.emit({id: task.id, checked: $event.target['checked']})"
                 [checked]="task.is_done"/>
            <span></span>
          </span>
      </label>
      <span class="input-field" *ngIf="task.show_edit; else title">
        <input type="text"
               [value]="task.title"
               (blur)="saveTask($event.target['value'], idx)"
               (keyup.enter)="task.show_edit = false" #input>
      </span>
      <ng-template #title>
        <span (click)="showInput(idx)">
          {{task.title}}
          <br>
          <span class="date">
            {{task.deadline_date ? (task.deadline_date | toMoment | moment:'DD.MM.YYYY') : 'Дата не задана'}}
          </span>
        </span>
      </ng-template>
    </span>
    <span class="controls" [class.show]="task.show_control">
      <button class="btn small waves-effect waves-light dropdown-trigger"
              [attr.data-target]="'dropdown-calendar' + idx"
              (click)="calendarChoose.emit(task.id)">
        <app-icon>calendar_today</app-icon>
      </button>
       <ul [id]="'dropdown-calendar' + idx" class="dropdown-content">
        <li><a href="#" (click)="chooseQuick($event, task.id, 'today')">На сьогодні</a></li>
        <li><a href="#" (click)="chooseQuick($event, task.id, 'tomorrow')">На завтра</a></li>
      </ul>
      <button class="btn small red waves-effect waves-light" (click)="delete.emit(task.id)">
        <app-icon>delete</app-icon>
      </button>
    </span>
  </li>
</ul>
<ng-template #noTasks>
  <p class="center-align">Немає завдань</p>
</ng-template>
