<div class="row">
  <div class="col s6 offset-s3 login-card">
    <div class="card">
      <nav class="shadow-off login-label">
        <div class="nav-wrapper">
          <span class="brand-logo">Вхід</span>
        </div>
      </nav>
      <div class="card-content">
        <form [formGroup]="form" (ngSubmit)="submit()">
          <div class="row">
            <div class="input-field col s12">
              <input id="email"
                     type="text"
                     [class.invalid]="form.get('email').touched && form.get('email').invalid"
                     [class.valid]="form.get('email').touched && form.get('email').value"
                     formControlName="email">
              <label for="email">E-mail</label>
            </div>
            <div class="input-field col s12">
              <input id="password"
                     type="password"
                     [class.invalid]="form.get('password').touched && form.get('password').invalid"
                     [class.valid]="form.get('password').touched && form.get('password').valid"
                     formControlName="password">
              <label for="password">Пароль</label>
            </div>
            <div class="col s12 right-align">
              <button class="btn" type="submit" [disabled]="form.disabled || form.invalid">Увійти</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
