<button class="btn settings-btn waves-effect waves-light" (click)="openModal()">Фонове зображення</button>

<div id="bgSettingsModal" class="modal bgModal" #bgModal>
  <div class="modal-content">
    <h4>Вибір зображення</h4>
    <div class="row">
      <div class="col s12">
        <div class="photos-wrap">
          <div class="photos" (scroll)="scrollPhotos($event)" *ngIf="loaded">
            <div class="photo" *ngFor="let photo of photos" (click)="selectPhoto(photo)">
              <span [style.background-image]="'url(' + photo.urls.small + ')'" class="photo-img"></span>
            </div>
          </div>
          <div class="loader" *ngIf="!loaded">
            <app-loader size="big" type="spinner" [show]="true"></app-loader>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="modal-close waves-effect waves-red btn-flat red-text">Закрити</button>
  </div>
</div>
