@import "~materialize-css/sass/components/color-variables"
$primary-color: color('teal', 'lighten-2') !default
@import "~materialize-css/sass/materialize"

.login-card
  margin-top: 15%

.shadow-off
  box-shadow: none

.login-label
  padding-left: 24px

.messageToast
  padding: 0 15px
  left: 100px
